.auth-container{
    .auth-left {
        background-color:#EBF2FF;
        padding: 1% 12%;
        h1{
            font-size: 4rem;
            margin-bottom: 2.5rem;
        }
        p{
            font-size: 1.25rem;
            margin-bottom: 4.6rem;
        }
    }
    .auth-right {
        width: 40%; 
        .ar--inner{
            padding: 1rem 8.75rem;
            // max-height: calc(100vh - 52px);
            // overflow: auto; 
            .logo{
                margin-bottom: 3rem;
            }
        }
        .lang--sec{
            border-top: 1px solid #E7E9EB;
            padding: 5px 24px;
            width: 40%; 
            display: flex;
            position: fixed;
            bottom: 0; 
            justify-content: flex-end;
            background: #fff;
        }
        .login--wrapper{
            h2{ 
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
        }
    }
}