<div class="auth-container d-flex flex-column flex-sm-row">
  <div class="auth-left d-flex flex-column min-vh-100 w-100 justify-content-center">
    <h1 class="text-primary fw-medium">Welcome to Cumberland Health!</h1>
    <p class="text-primary">Manage your health, appointments, and care—all in one place.</p>
    <img src="images/auth-left.png" alt="img" class="img-fluid">
  </div>
  <div class="auth-right d-flex flex-column justify-content-center flex-shrink-0">
    <div class="ar--inner">
      <img src="images/logo.svg" alt="img" class="logo">
      <router-outlet></router-outlet>
    </div>
    <div class="lang--sec">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button">Dropdown item</button></li>
          <li><button class="dropdown-item" type="button">Dropdown item</button></li>
          <li><button class="dropdown-item" type="button">Dropdown item</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
