/* Colors */
$primary: #3f51b5;
$secondary: #222;
$success: #4caf50;
$warning: #ff9800;
$error: #f44336;
$info: #2196f3;

$bg-light: #f9fafb;
$text-dark: #1f2937;
$text-muted: #6b7280;

/* Font */
$font-family-base: 'Montserrat', sans-serif;;
$font-size-base: 16px;
$base-font-size: 16px;
  

