/* Colors */
$primary: #0032A0;
$secondary: #222;
$success: #4caf50;
$warning: #ff9800;
$error: #FF181C;
$info: #2196f3;
$grey: #909090;

$bg-light: #f9fafb;
$text-dark: #1f2937;
$text-muted: #6b7280;

/* Font */
$font-family-base: 'Montserrat', sans-serif;;
$font-size-base: 16px;
$base-font-size: 16px;
   

