@use '../abstracts/variables' as v; 

html, body {
  height: 100%;
  margin: 0;
}

a { 
  text-decoration: none;
} 

body{
    .text-primary {
        color: #0032A0 !important;
    }
}


/* Colors */
// $primary: #3f51b5;
// $secondary: #ff4081;
// $success: #4caf50;
// $warning: #ff9800;
// $error: #f44336;
// $info: #2196f3;

// $bg-light: #f9fafb;
// $text-dark: #1f2937;
// $text-muted: #6b7280;