@use '../abstracts/variables' as v;

body {
  font-family: v.$font-family-base !important; 
  color: v.$secondary !important;
}

.font-12 {font-size: 0.75rem;}
.font-13 {font-size: 0.81rem;}
.font-14 {font-size: 0.875rem;}
.font-15 {font-size: 0.937rem;}

